<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.movie.mapper.BoardMapper">
<select id="checkBoardList" resultType="com.pj.movie.dto.PmBoardDto" parameterType="int">
    select
    PB_ID,
    PB_TITLE,
    PM_USER_ID,
    PBC_CD
    from PM_BOARD
    <if test="pbcCd!=0">
        where PBC_CD = #{pbcCd};
    </if>
</select>

<insert id="boardInsert" parameterType="com.pj.movie.dto.PmBoardDto">
insert
into PM_BOARD(
PBC_CD,PB_TITLE,PB_CONTENT,PM_USER_ID)
values(
#{pbcCd},#{pbTitle},#{pbContent},#{pmUserId})


</insert>
<update id="updateBoard" parameterType="com.pj.movie.dto.PmBoardDto">
update PM_BOARD
set PB_TITLE=#{pbTitle},
PB_CONTENT=#{pbContent}
where PB_ID = #{pbId}
</update>
<delete id="deleteDetailBoard" parameterType="com.pj.movie.dto.PmBoardDto">
delete
from PM_BOARD
where PB_ID = #{pbId}
</delete>

<select id="detailBoard" parameterType="int" resultType="com.pj.movie.dto.PmBoardDto">
select PB_TITLE,PB_CONTENT,PB_ID,PM_USER_ID,PB_REG_DT
from PM_BOARD
where PB_ID = #{pbId}
</select>

<select id="askList" resultType="com.pj.movie.dto.PmBoardAndCatgDto" >
    select
    T1.PB_TITLE, T1.PM_USER_ID, T1.PB_REG_DT, T2.PBC_NAME, T1.PB_ID
    FROM PM_BOARD T1
    LEFT JOIN PM_BOARD_CATG T2 ON T1.PBC_CD = T2.PBC_CD
    where PM_USER_ID = #{pmUserId}
</select>
</mapper>
