<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.movie.mapper.TestMapper">
    <select id="login" resultType="com.pj.movie.dto.PmMemberDto" parameterType="String">
        select *
            from PM_MEMBER
        where PM_USER_ID = #{pmUserId}
            and PM_USER_PWD = #{pmUserPwd};
    </select>

    <select id="getCategoryData" resultType="com.pj.movie.dto.PmBoardCatgDto" parameterType="int">
       select *
        from PM_BOARD_CATG;
    </select>
    
    <select id="select" resultType="com.pj.movie.dto.PmBoardDto" parameterType="String">
        select *
            from PM_BOARD
        where PB_CATEGORY_CD = #{pbCategoryCd}
            and PB_USER_ID = #{pbUserId};
    </select>

    <insert id="userJoin" parameterType="com.pj.movie.dto.PmMemberDto">
        insert into PM_MEMBER(PM_USER_ID,PM_USER_PWD,PM_USER_NAME,PM_USER_EMAIL,PM_USER_PHONE,PM_USER_BD)
        values (#{pmUserId},#{pmUserPwd},#{pmUserName},#{pmUserEmail},#{pmUserPhone},#{pmUserBd});
    </insert>

    <select id="userLogIn"   parameterType="com.pj.movie.dto.PmMemberDto">
        select PM_USER_ID,
        PM_USER_NAME,
        PM_USER_PHONE,
        PM_USER_BD,
        PM_USER_EMAIL
        from PM_MEMBER
        where PM_USER_ID=#{pmUserId}
        and PM_USER_PWD=#{pmUserPwd}
    </select>

    <select id="resetPwd" resultType="int" parameterType="com.pj.movie.dto.PmMemberDto">
        select count (*)
        from PM_MEMBER
        where PM_USER_NAME=#{pmUserName}
        and PM_USER_BD=#{pmUserBd}
        and PM_USER_ID=#{pmUserId}
        and PM_USER_EMAIL=#{pmUserEmail}
        and PM_USER_PHONE=#{pmUserPhone}
    </select>

    <update id="resetPwd2" parameterType="com.pj.movie.dto.PmMemberDto">
        update PM_MEMBER
        set PM_USER_PWD=#{pmUserPwd}
        where PM_USER_ID=#{pmUserId}
    </update>
    <select id="findId" parameterType="com.pj.movie.dto.PmMemberDto" resultType="String">
        SELECT PM_USER_ID
        FROM PM_MEMBER
        WHERE PM_USER_NAME =#{pmUserName}
        AND PM_USER_EMAIL =#{pmUserEmail}
        AND PM_USER_PHONE =#{pmUserPhone}
        AND PM_USER_BD =#{pmUserBd};
    </select>
    <select id="CheckBoard" resultType="com.pj.movie.dto.PmBoardDto" parameterType="int">
        select
        T2.PBC_NAME,
        T1.*
        from PM_BOARD T1
        left join PM_BOARD_CATG T2 on T2.PBC_CD = T1.PB_CATEGORY_CD
        where T1.PB_CATEGORY_CD = #{pbCategoryCd};
    </select>


</mapper>